body {
    background-color: rgb(39, 39, 39);
    text-align: center;
}

.chat {
    text-align: left;
    margin: auto;
    border-radius: 10px;
    height: 750px;
    width: 700px;
    margin-top: 30px;
    color: black;
    background-color: white;
    overflow: scroll;
    font-size: 22px;
}

.chat-input {
    margin: auto;
    color: white;
    font-size: 30px;
}

.chat-input-wrapper {
    margin: auto;
    margin-left: 600px;
}

#msg {
    float: left;
    width: 350px;
    height: 30px;
    font-size: 14px;
    border-radius: 5px;
}

#send-msg-btn {
    float: left;
    height: 35px;
    background-color: rgb(86, 160, 86);
    color: white;
    border: none;
    font-size: 30px;
    border-radius: 5px;
}

#msg-label {
    float: left;
}
